# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=webProjectSEA
DB_USERNAME=postgres
DB_PASSWORD=your_password_here

# Server Configuration
SERVER_PORT=3011

# AWS Configuration
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION=eu-central-1
AWS_BUCKET_NAME=forumprojectbucket

# File Upload Configuration
FILE_UPLOAD_DIR=${user.home}/web-blog-project/uploads 