body {
    background-color: black;
    overflow-x: hidden;
    font-family: 'Avalors Personal Use';

}
.user-name {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
}

.user-name::after {
    display: block;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}


.user-name:hover::after {
    width: 100%;
}

.user-name:hover {
    color: #0056b3;
}
@keyframes snow {
    0% {
        opacity: 0.8;
        transform: translate(0px, 0px);
    }
    20% {
        opacity: 0.6;
    }
    35% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.4;
        transform: translate(-500px, 0px);
    }
    55% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.8;
        transform: translate(0px, 0px);
    }
}

@keyframes snow2 {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    20% {
        opacity: 0.5;
    }
    35% {
        opacity: 0;
    }
    50% {
        transform: translate(-500px, 0px);
    }
    70% {
        opacity: 0.3;
    }
    85% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes astronaut {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes astronaut2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.box-of-star1 {
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    transform: translateY(0px);
    height: 9000px;
}

.star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
    animation: snow 90s infinite;
}

.star:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 70px;
    opacity: 0.7;
    animation: snow2 80s infinite; /*80sec*/
}

.star:after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 170px;
    opacity: 0.9;
    animation: snow 70s infinite; /*70sec*/
}

.star-position1 {
    top: 0.2%;
    left: 3.5%;
}
.star-position2 {
    top: 0.5%;
    left: 6%;
}
.star-position3 {
    top: 0.1%;
    left: 9%;
}
.star-position4 {
    top: 0.3%;
    left: 17%;
}
.star-position5 {
    top: 0.4%;
    left: 24%;
}
.star-position6 {
    top: 0.2%;
    left: 32%;
}
.star-position7 {
    top: 0.5%;
    left: 40%;
}
.star-position8 {
    top: 1%;
    left: 42%;
}
.star-position9 {
    top: 0.7%;
    left: 47%;
}
.star-position10 {
    top: 1.5%;
    left: 56%;
}
.star-position11 {
    top: 0.2%;
    left: 56%;
}
.star-position12 {
    top: 0.7%;
    left: 63%;
}
.star-position13 {
    top: 0.2%;
    left: 65%;
}
.star-position14 {
    top: 0.1%;
    left: 72%;
}
.star-position15 {
    top: 1%;
    left: 65%;
}
.star-position16 {
    top: 0.2%;
    left: 70%;
}
.star-position17 {
    top: 0.1%;
    left: 80%;
}
.star-position18 {
    top: 0.9%;
    left: 81%;
}
.star-position19 {
    top: 0.3%;
    left: 87%;
}
.star-position20 {
    top: 1%;
    left: 92%;
}
.star-position21 {
    top: 0.5%;
    left: 97%;
}
.star-position21 {
    top: 0.2%;
    left: 90%;
}
.star-position22 {
    top: 0.4%;
    left: 96%;
}
.star-position23 {
    top: 1.2%;
    left: 0.7%;
}
.star-position24 {
    top: 1.5%;
    left: 3.5%;
}
.star-position25 {
    top: 2.1%;
    left: 1.5%;
}
.star-position26 {
    top: 1.9%;
    left: 10.5%;
}
.star-position27 {
    top: 2.3%;
    left: 18.5%;
}
.star-position28 {
    top: 1.4%;
    left: 25.5%;
}
.star-position29 {
    top: 1.4%;
    left: 18.5%;
}
.star-position30 {
    top: 2.4%;
    left: 35.5%;
}
.star-position31 {
    top: 2.1%;
    left: 40.5%;
}
.star-position32 {
    top: 2.7%;
    left: 29.5%;
}
.star-position33 {
    top: 0.5%;
    left: 93.2%;
}
.star-position34 {
    top: 1.1%;
    left: 77.2%;
}
.star-position35 {
    top: 0.1%;
    left: 94.2%;
}
.star-position36 {
    top: 0.2%;
    left: 99.2%;
}
.star-position37 {
    top: 0.5%;
    left: 83.2%;
}
.star-position38 {
    top: 0.8%;
    left: 86.2%;
}
.star-position39 {
    top: 0.8%;
    left: 96.8%;
}
.star-position40 {
    top: 0.075%;
    left: 103.8%;
}
.star-position41 {
    top: 0.26%;
    left: 107.6%;
}
.star-position41 {
    top: 0.1%;
    left: 120.6%;
}
.star-position42 {
    top: 0.45%;
    left: 119.6%;
}
.star-position43 {
    top: 0.07%;
    left: 130.6%;
}
.star-position44 {
    top: 0.19%;
    left: 135.6%;
}
.star-position45 {
    top: 0.1%;
    left: 145.6%;
}
.star-position46 {
    top: 0.1%;
    left: 112.4%;
}
.star-position47 {
    top: 1.7%;
    left: 1.2%;
}
.star-position48 {
    top: 1.7%;
    left: -4%;
}
.star-position49 {
    top: 3.1%;
    left: -9.5%;
}
.star-position50 {
    top: 3.8%;
    left: -10.8%;
}
.star-position51 {
    top: 3.5%;
    left: 3.9%;
}
.star-position52 {
    top: 3.9%;
    left: -6.6%;
}
.star-position53 {
    top: 3.6%;
    left: -2.5%;
}
.star-position54 {
    top: 3%;
    left: 10.5%;
}
.star-position55 {
    top: 3.4%;
    left: 18.5%;
}
.star-position56 {
    top: 3.4%;
    left: 18.5%;
}
.star-position57 {
    top: 3.8%;
    left: 7.5%;
}
.star-position58 {
    top: 5%;
    left: -6.5%;
}
.star-position58 {
    top: 5%;
    left: 0.5%;
}
.star-position59 {
    top: 5%;
    left: -5.5%;
}
.star-position60 {
    top: 2.8%;
    left: 51.5%;
}
.star-position61 {
    top: 2.5%;
    left: 45.5%;
}
.star-position62 {
    top: 1.6%;
    left: 50.5%;
}
.star-position63 {
    top: 2.5%;
    left: 78.5%;
}
.star-position64 {
    top: 1.6%;
    left: 64.5%;
}
.star-position65 {
    top: 2.4%;
    left: 64.5%;
}
.star-position66 {
    top: 2.3%;
    left: 73.4%;
}
.star-position67 {
    top: 2.7%;
    left: 87.4%;
}
.star-position68 {
    top: 2.25%;
    left: 83.4%;
}
.star-position69 {
    top: 3.1%;
    left: 82.4%;
}
.star-position70 {
    top: 3.3%;
    left: 57.4%;
}
.star-position71 {
    top: 3.9%;
    left: 25.4%;
}
.star-position72 {
    top: 4.6%;
    left: 17.4%;
}
.star-position73 {
    top: 3.6%;
    left: 97.4%;
}
.star-position74 {
    top: 4.15%;
    left: 95.6%;
}
.star-position75 {
    top: 3.7%;
    left: 94.6%;
}
.star-position76 {
    top: 3.5%;
    left: 77.4%;
}
.star-position77 {
    top: 3.2%;
    left: 62.4%;
}
.star-position78 {
    top: 4%;
    left: 41.4%;
}
.star-position79 {
    top: 3.65%;
    left: 35.4%;
}
.star-position80 {
    top: 4.1%;
    left: 64.4%;
}
.star-position81 {
    top: 4.4%;
    left: 44%;
}
.star-position82 {
    top: 4.2%;
    left: 30%;
}
.star-position83 {
    top: 4.5%;
    left: 24%;
}
.star-position84 {
    top: 5%;
    left: 9%;
}
.star-position84 {
    top: 5.3%;
    left: -9%;
}
.star-position85 {
    top: 5.9%;
    left: 1%;
}
.star-position86 {
    top: 5.6%;
    left: 8%;
}
.star-position87 {
    top: 5.015%;
    left: 15.8%;
}
.star-position88 {
    top: 5.015%;
    left: 8.8%;
}
.star-position89 {
    top: 4.6%;
    left: 85.8%;
}
.star-position90 {
    top: 4.3%;
    left: 79.6%;
}
.star-position91 {
    top: 4.8%;
    left: 81.6%;
}
.star-position92 {
    top: 5%;
    left: 77.6%;
}
.star-position93 {
    top: 5.4%;
    left: 68.6%;
}
.star-position94 {
    top: 3.7%;
    left: 60.6%;
}
.star-position95 {
    top: 4.5%;
    left: 60.6%;
}
.star-position96 {
    top: 4.5%;
    left: 38.6%;
}
.star-position97 {
    top: 5.1%;
    left: 39.6%;
}
.star-position98 {
    top: 5.1%;
    left: 39.6%;
}
.star-position99 {
    top: 4.89%;
    left: 51.6%;
}
.star-position100 {
    top: 5.15%;
    left: 57.6%;
}
.star-position101 {
    top: 5.3%;
    left: 45.6%;
}
.star-position102 {
    top: 5.3%;
    left: 63.3%;
}
.star-position103 {
    top: 5.3%;
    left: 87.3%;
}
.star-position104 {
    top: 5.6%;
    left: 84.3%;
}
.star-position105 {
    top: 5.8%;
    left: 92.3%;
}
.star-position106 {
    top: 5.8%;
    left: 25.3%;
}
.star-position106 {
    top: 5.6%;
    left: 25.7%;
}
.star-position107 {
    top: 5.8%;
    left: 20.7%;
}
.star-position108 {
    top: 6.1%;
    left: 15.7%;
}
.star-position109 {
    top: 6.3%;
    left: -7.7%;
}
.star-position110 {
    top: 6.3%;
    left: -3%;
}
.star-position111 {
    top: 6.8%;
    left: 1.6%;
}
.star-position112 {
    top: 7.3%;
    left: 7.2%;
}
.star-position113 {
    top: 7.7%;
    left: -10.5%;
}
.star-position114 {
    top: 7.6%;
    left: 11.5%;
}
.star-position115 {
    top: 6.3%;
    left: 7.5%;
}
.star-position116 {
    top: 6.3%;
    left: 23%;
}
.star-position117 {
    top: 6.1%;
    left: 38%;
}
.star-position118 {
    top: 6.3%;
    left: 30.1%;
}
.star-position119 {
    top: 6.4%;
    left: 45.1%;
}
.star-position120 {
    top: 6.8%;
    left: 21.1%;
}
.star-position121 {
    top: 7.2%;
    left: 23.1%;
}
.star-position122 {
    top: 7.7%;
    left: 16.1%;
}
.star-position123 {
    top: 6.8%;
    left: 38.1%;
}
.star-position124 {
    top: 7.65%;
    left: 27.1%;
}
.star-position125 {
    top: 7.65%;
    left: 32.1%;
}
.star-position126 {
    top: 7.15%;
    left: 40.1%;
}
.star-position127 {
    top: 6.9%;
    left: 46.1%;
}
.star-position128 {
    top: 6.1%;
    left: 98.1%;
}
.star-position129 {
    top: 6.1%;
    left: 98.1%;
}
.star-position130 {
    top: 6.1%;
    left: 75.1%;
}
.star-position131 {
    top: 5.7%;
    left: 60.1%;
}
.star-position132 {
    top: 6.5%;
    left: 61.7%;
}
.star-position133 {
    top: 6.4%;
    left: 69.7%;
}
.star-position134 {
    top: 6.7%;
    left: 53.4%;
}
.star-position135 {
    top: 7.1%;
    left: 60.6%;
}
.star-position136 {
    top: 7.5%;
    left: 63.6%;
}
.star-position137 {
    top: 7.4%;
    left: 86.9%;
}
.star-position138 {
    top: 6.96%;
    left: 83.9%;
}
.star-position139 {
    top: 6.85%;
    left: 77.9%;
}
.star-position140 {
    top: 7.8%;
    left: 67.9%;
}
.star-position141 {
    top: 7.5%;
    left: 81.9%;
}
.star-position142 {
    top: 7.9%;
    left: 58.9%;
}
.star-position143 {
    top: 7.95%;
    left: 3%;
}
.star-position144 {
    top: 7.95%;
    left: 22%;
}
.star-position145 {
    top: 0.6%;
    left: 129%;
}
.star-position146 {
    top: 1.2%;
    left: 149%;
}
.star-position147 {
    top: 1.8%;
    left: 100%;
}
.star-position148 {
    top: 3%;
    left: 96%;
}
.star-position149 {
    top: 1.6%;
    left: 96%;
}
.star-position150 {
    top: 1.5%;
    left: 109%;
}
.star-position151 {
    top: 2.3%;
    left: 114%;
}
.star-position152 {
    top: 1.4%;
    left: 135%;
}
.star-position153 {
    top: 1.4%;
    left: 124%;
}
.star-position154 {
    top: 1.9%;
    left: 131%;
}
.star-position155 {
    top: 1.9%;
    left: 158%;
}
.star-position156 {
    top: 2.3%;
    left: 126%;
}
.star-position157 {
    top: 3%;
    left: 142%;
}
.star-position158 {
    top: 3%;
    left: 132%;
}
.star-position159 {
    top: 3.4%;
    left: 105%;
}
.star-position160 {
    top: 3.4%;
    left: 128%;
}
.star-position161 {
    top: 4.2%;
    left: 108%;
}
.star-position162 {
    top: 3.9%;
    left: 153%;
}
.star-position163 {
    top: 4%;
    left: 145%;
}
.star-position164 {
    top: 4.5%;
    left: 130%;
}
.star-position165 {
    top: 4.2%;
    left: 118%;
}
.star-position166 {
    top: 5.7%;
    left: 126%;
}
.star-position167 {
    top: 4.4%;
    left: 158.4%;
}
.star-position168 {
    top: 5.35%;
    left: 143.4%;
}
.star-position169 {
    top: 5.35%;
    left: 112.4%;
}
.star-position170 {
    top: 5.9%;
    left: 119.4%;
}
.star-position171 {
    top: 5.7%;
    left: 153.4%;
}
.star-position172 {
    top: 6.3%;
    left: 128.4%;
}
.star-position173 {
    top: 6.4%;
    left: 131.7%;
}
.star-position174 {
    top: 6.3%;
    left: 157.7%;
}
.star-position175 {
    top: 6.94%;
    left: 141.7%;
}
.star-position176 {
    top: 7.4%;
    left: 130.7%;
}
.star-position177 {
    top: 7%;
    left: 153%;
}
.star-position178 {
    top: 6.9%;
    left: 117%;
}
.star-position179 {
    top: 7.1%;
    left: 114%;
}
.star-position180 {
    top: 6.9%;
    left: 103%;
}
.star-position181 {
    top: 7.9%;
    left: 132%;
}
.star-position182 {
    top: 7.9%;
    left: 122%;
}
.star-position183 {
    top: 7.9%;
    left: 105%;
}
.star-position184 {
    top: 7.6%;
    left: 97.5%;
}

.content-wrapper {
    padding: 20px;
    position: relative;
    z-index: 30;
    margin-bottom: 15vh;
    background-color: transparent;
}

.bodycontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(17, 66, 147, 0.8);
}
.post-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
}

.post-actions form {
    margin: 0;
}

.post-actions button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.sorting-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.sorting-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sorting-options label {
    font-size: 14px;
    font-weight: bold;
}

.sorting-options select {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #005f5f;
}

.search-container select {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.post-actions button:hover {
    background-color: #005f5f;
}

.like-count, .dislike-count {
    font-size: 14px;
    font-weight: bold;
}

.count-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}
.sorting-options, .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sorting-options label, .search-form input, .search-form select, .search-form button {
    margin-right: 10px;
}

.post {
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name {
    color: #FF6F61;
    font-size: 1.0em;
    text-decoration: none;
}

.user-role {
    color: #bbb;
    font-size: 0.9em;
}

.post-content {
    margin-top: 20px;
}

.post-explanation{
 position: relative;
    color: #F7CAC9;
}
.post-title{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
.post-title a{
    text-decoration: none;
    color: #FF6F61;
}
.post-image {
    max-width: 1000px;
    max-height: 400px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.post-category, .post-date {
    font-size: 12px;
    color: #777;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none; /* Webkit tabanlı tarayıcılar (Chrome, Safari, Edge) için */
}
.bodycontainer::-webkit-scrollbar {
    display: none; /* Webkit tabanlı tarayıcılar (Chrome, Safari, Edge) için */
}

.post-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-actions form {
    margin-right: 10px;
}

.like-count, .dislike-count {
    color: white;
    margin-right: 20px;
}

.newPostLink, .newPostLink + a, .newPostLink + a + a {
    display: flex;
    text-decoration: none;
    justify-content: right;
    text-align: right;
    align-items: end;
    margin-bottom: 8px;
    margin-right: 20px;
    color: #FF6F61;
}
.astronautdiv {
    flex: 1;
    width: 250px;
    height: 300px;
    position: absolute;
    z-index: 11;
    animation: astronaut 5s linear infinite;
    left: calc(5%);
}

.schoolbag {
    width: 100px;
    height: 150px;
    position: relative;
    z-index: 1;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    background-color: #94b7ca;
    border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}
.head {
    width: 97px;
    height: 80px;
    position: absolute;
    z-index: 3;
    background: -webkit-linear-gradient(
            left,
            #e3e8eb 0%,
            #e3e8eb 50%,
            #fbfdfa 50%,
            #fbfdfa 100%
    );
    border-radius: 50%;
    top: 34px;
    left: calc(50% - 47.5px);
}

.head:after {
    content: '';
    width: 60px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 30px);
    background: -webkit-linear-gradient(
            top,
            #15aece 0%,
            #15aece 50%,
            #0391bf 50%,
            #0391bf 100%
    );
    border-radius: 15px;
}

.head:before {
    content: '';
    width: 12px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    left: -4px;
    background-color: #618095;
    border-radius: 5px;
    box-shadow: 92px 0px 0px #618095;
}

.bodyastro {
    width: 85px;
    height: 100px;
    position: absolute;
    z-index: 2;
    background-color: #fffbff;
    border-radius: 40px / 20px;
    top: 105px;
    left: calc(50% - 41px);
    background: -webkit-linear-gradient(
            left,
            #e3e8eb 0%,
            #e3e8eb 50%,
            #fbfdfa 50%,
            #fbfdfa 100%
    );
}

.panel {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    background-color: #b7cceb;
}

.panel:before {
    content: '';
    width: 30px;
    height: 5px;
    position: absolute;
    top: 9px;
    left: 7px;
    background-color: #fbfdfa;
    box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 9px;
    right: 7px;
    background-color: #fbfdfa;
    border-radius: 50%;
    box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 121px;
    z-index: 2;
}

.arm-left {
    left: 30px;
    background-color: #e3e8eb;
    border-radius: 0 0 0 39px;
}

.arm-right {
    right: 30px;
    background-color: #fbfdfa;
    border-radius: 0 0 39px 0;
}
.arm-left:before,
.arm-right:before {
    content: '';
    width: 30px;
    height: 70px;
    position: absolute;
    top: -40px;
}

.arm-left:before {
    border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
    left: 0;
    background-color: #e3e8eb;
}

.arm-right:before {
    border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
    right: 0;
    background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
    content: '';
    width: 30px;
    height: 10px;
    position: absolute;
    top: -24px;
}

.arm-left:after {
    background-color: #6e91a4;
    left: 0;
}

.arm-right:after {
    right: 0;
    background-color: #b6d2e0;
}
.leg {
    width: 30px;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 70px;
}

.leg-left {
    left: 76px;
    background-color: #e3e8eb;
    transform: rotate(20deg);
}

.leg-right {
    right: 73px;
    background-color: #fbfdfa;
    transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
    content: '';
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -26px;
}

.leg-left:before {
    left: -20px;
    background-color: #e3e8eb;
    border-radius: 30px 0 0 0;
    border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
    right: -20px;
    background-color: #fbfdfa;
    border-radius: 0 30px 0 0;
    border-bottom: 10px solid #b0cfe4;
}

.greetings {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 70%;
    padding: 3%;
    left: calc(35%);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.greetings::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid rgb(255, 255, 255);
    border-bottom: 20px solid transparent;
    background-color: transparent;
    bottom: 20px;
    left: -20px;
}

.greetButton {
    flex: 1;
    position: relative;
    border: none;
    background: transparent;
    --stroke-color: #ffffff7c;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    letter-spacing: 3px;
    font-size: 2em;
    font-family: 'Arial';
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    z-index: 20;
    margin-bottom: 150px;
}

.front-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-gar);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    overflow: hidden;
    transition: all 3s;
    animation: 8s ani infinite;
    border-bottom: 2px solid transparent;
    animation: height 5s forwards;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 400%;
    }

    100% {
        background-position: 0%;
    }
}

@keyframes height {
    0% {
        height: 0;
    }
    100% {
        height: 110%;
        border-bottom: 2px solid #03a9f4;
        -webkit-text-stroke: 1px var(--ani-color);
    }
}
