.header {
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.headerInner1 {
    flex: 1;
    margin-left: 1%;
    padding: 1%;
}

.headerInner2 {
    flex: 4;
    padding: 1%;
}

.headerInner3 {
    flex: 1;
    padding: 1%;
}

.headerInner4 {
    flex: 1;
    padding: 1%;
}

.headerInner5 {
    flex: 1;
    padding: 1%;
}

.headerbutton1{
    width: max-content;
    background-color: transparent;
    font-family: 'Avalors Personal Use';
    color: white;
    position: relative;
    padding: 15px;
    font-weight: 900;
    transition: 0.5s;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    cursor: pointer;
    border-color: #03A9F4 ;
}

.headerbutton1:hover {
    letter-spacing: 0.25em;
    color: white;
    box-shadow: 0 0 45px #03A9F4;
    border: 4px double;
    border-color: #03A9F4 ;
}



.headerbutton1 i {
    position: absolute;
    inset: 0;
    display: block;
}

.headerbutton1 i::before {
    content: '';
    position: absolute;
    border: 2px solid #03A9F4;
    width: 20px;
    height: 5px;
    top: -5px;
    left: 85%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.headerbutton1:hover i::before {
    width: 20px;
    left: 15%;
}

.headerbutton1 i::after {
    content: '';
    position: absolute;
    border: 2px solid #03A9F4;
    width: 20px;
    height: 5px;
    bottom: -5px;
    left: 15%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.headerbutton1:hover i::after {
    width: 20px;
    left: 85%;
}

.headerbutton2{
    width: max-content;
    background-color: transparent;
    font-family: 'Avalors Personal Use';
    color: white;
    position: relative;
    padding: 15px;
    font-weight: 900;
    transition: 0.5s;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    cursor: pointer;
    border-color: #03A9F4 ;
}

.headerbutton2:hover {
    letter-spacing: 0.25em;
    color: white;
    box-shadow: 0 0 45px #03A9F4;
    border: 4px double;
    border-color: #03A9F4 ;
}



.headerbutton2 i {
    position: absolute;
    inset: 0;
    display: block;
}

.headerbutton2 i::before {
    content: '';
    position: absolute;
    border: 2px solid #03A9F4;
    width: 20px;
    height: 5px;
    top: -5px;
    left: 15%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.headerbutton2:hover i::before {
    width: 20px;
    left: 85%;
}

.headerbutton2 i::after {
    content: '';
    position: absolute;
    border: 2px solid #03A9F4;
    width: 20px;
    height: 5px;
    bottom: -5px;
    left: 85%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.headerbutton2:hover i::after {
    width: 20px;
    left: 15%;
}


.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 4rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
    linear-gradient(
            137.48deg,
            #ffdb3b 10%,
            #fe53bb 45%,
            #8f51ea 67%,
            #0044ff 87%
    );
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #fe53bb;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: '';
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}



@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes slideBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 80%;
    }
}
