<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"   lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BLOG :: Home</title>
</head>
<body>
<div>
    <a th:href="@{/posts/new}" class="newPostLink">Create a new Post</a>
    <a th:href="@{/user/profile}" class="newPostLink">My profile</a>
</div>

    <div class="container">
        <h1>MY BLOG APP FORUM</h1>
        <hr />
        <div class="posts-container">
            <div class="post" th:each="post : ${posts}">
                <h2 class="post-title"><a th:href="@{'/posts/' + ${post.id}}"
                th:text="${post.title}">Title</a>
                </h2>
                <h5 th:text="'Written by ' + ${post.userAccount.nickname}">Nickname</h5>
                <h3 th:text="'Category of the title is ' + ${post.category}"></h3>
                <h5 th:text="'Published on ' + ${post.createdAt}">Created at
                </h5>
                <p th:text="${post.explanation}">--------Explanation of post------</p>

            </div>

        </div>
        <hr/>
        <ul sec:authorize="!isAuthenticated()">
            <li> <a th:href="@{/register}">Register</a></li>
            <li> <a th:href="@{/login}">Login</a></li>

        </ul>
            <div sec:authorize="isAuthenticated()">
                <form action="#"
                      th:action="@{/logout}"
                      method="post">
                    <div class="form-group">
                    <label class="hiLabel">Hi, <span sec:authentication="name">Username</span></label>
                </div>
                   <button type="submit">Logout</button>
                </form>

            </div>
    </div>
</body>
<style>



    body{
    background-color: black;
}
.posts-container{
    color: white;
    text-align: center;
}
.post-title{
    font-family: "Times New Roman",serif;
    font-size: 50px;
    text-decoration: none;
}

.newPostLink{
    color: red;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.hiLabel{
    color: white;
}


</style>
</html>