<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="username" placeholder="E-Mail or Nickname">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div th:if="${param.error}">
            <p>Invalid email or password</p>
        </div>
    </form>
    <br>
    <a th:href="@{'/'}">HOME</a>
    <p>----------------------------------------------------------------------------------------</p>
    <a th:href="@{'/register'}">Create a New Account</a>
</div>
</body>
</html>
