<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en"
>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <link href="css/body.css" type="text/css" rel="stylesheet" />
    <link href="css/header.css" type="text/css" rel="stylesheet" />
    <link href="css/footer.css" type="text/css" rel="stylesheet" />
    <link href="css/footerimp.css" type="text/css" rel="stylesheet" />
    <title>Projects</title>
</head>
<body>
<header>
    <div class="header">
        <div class="headerInner1">
            <button
                    class="btn"
                    type="button"
                    id="homeButton"
                    onclick="window.location.href='/home'"
            >
                <strong>HOME</strong>
            </button>
        </div>
        <div class="headerInner2"></div>
        <div class="headerInner5">
            <button
                    class="headerbutton2"
                    id="contactButton"
                    style="display: none"
            >
                <span>Contact</span><i></i>
            </button>
        </div>
        <div class="headerInner3" sec:authorize="isAuthenticated()">
            <a
                    sec:authorize="isAuthenticated()"
                    th:href="@{/my/posts}"
                    class="headerbutton1"
                    id="mypostsButton"
            >
                <span>My Posts</span>
                <i></i>
            </a>
        </div>
        <div class="headerInner4" sec:authorize="isAuthenticated()">
            <a
                    sec:authorize="isAuthenticated()"
                    th:href="@{/my/comments}"
                    class="headerbutton1"
                    id="mycommentsButton"
            >
                <span>My Comments</span>
                <i></i>
            </a>
        </div>
        <div class="headerInner4">
            <a th:href="@{/posts}" class="headerbutton1">
                <span>Discussion Form</span><i></i>
            </a>
        </div>
        <div class="headerInner6">
            <div class="userProfile" sec:authorize="isAuthenticated()">
                <a
                        th:if="${userAccount != null}"
                        th:href="@{'/user/' + ${userAccount.nickname} + '/profile'}"
                >
                    <button class="myprofileButton" id="myprofileButton">
                        <img
                                th:src="${userAccount.userProfilePic != null ? userAccount.userProfilePic : '/img/user-profile-icon-free-vector.jpg'}"
                                alt="Profile Picture"
                                class="profile-pic"
                        />

                        <span class="myprofileText">My Profile</span>
                    </button>
                </a>
            </div>
            <div class="userProfileName" th:if="${userAccount != null}">
                <label class="hiLabel"
                >Hi,
                    <span th:text="${userAccount.nickname}">Username</span></label
                >
            </div>
        </div>
        <div class="headerInner7" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button class="logoutButton" type="submit">
                    <div class="logoutText">Logout</div>
                </button>
            </form>
        </div>
    </div>
</header>
<div class="bodycontainerPost" style="color: transparent">
    <div class="container" style="color: transparent">
        <div th:if="${errorMessage}" style="color: red">
            <p th:text="${errorMessage}">Hata mesajı burada görünecek</p>
        </div>

        <div class="post">
            <h2 th:text="${post.title}">TITLE</h2>
            <h3 th:text="'Written by ' + ${post.userAccount.nickname}">
                Written by
            </h3>
            <h5 th:text="${post.category}">Category</h5>
            <h5 th:text="${timeAgo}">Created at</h5>
            <p th:text="${post.explanation}">Post Explanation</p>
            <img
                    th:if="${post.imageUrl != null}"
                    th:src="@{${post.imageUrl}}"
                    alt="Post Image"
            />
        </div>

        <div class="button-group" th:if="${userAccount != null}">
            <form th:action="@{'/posts/' + ${post.id} + '/like'}" method="post">
                <button
                        type="submit"
                        th:disabled="${post.likes != null and post.likes.contains(userAccount)}"
                >
                    Like
                </button>
            </form>
            <span style="color: white" th:text="${post.likeCount}">0</span>

            <form
                    th:action="@{'/posts/' + ${post.id} + '/dislike'}"
                    method="post"
            >
                <button
                        type="submit"
                        th:disabled="${post.dislikes != null and post.dislikes.contains(userAccount)}"
                >
                    Dislike
                </button>
            </form>
            <span style="color: white" th:text="${post.dislikeCount}">0</span>

            <form
                    th:action="@{'/posts/' + ${post.id} + '/unlike'}"
                    method="post"
                    th:if="${post.likes != null and post.likes.contains(userAccount)}"
            >
                <button type="submit">Unlike</button>
            </form>

            <form
                    th:action="@{'/posts/' + ${post.id} + '/undislike'}"
                    method="post"
                    th:if="${post.dislikes != null and post.dislikes.contains(userAccount)}"
            >
                <button type="submit">Undislike</button>
            </form>
        </div>

        <div th:if="${isPostOwner}">
            <a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a>
            <form
                    th:action="@{'/posts/' + ${post.id} + '/delete'}"
                    method="post"
                    style="display: inline"
            >
                <button type="submit">Delete</button>
            </form>
        </div>

        <div class="comments">
            <h2>Comments</h2>
            <div th:each="comment : ${postComments}" class="comment">
                <div class="user-info">
                    <a
                            th:href="@{'/user/' + ${comment.userAccount.nickname} + '/profile'}"
                    >
                        <img th:src="${userAccount.userProfilePic != null ? userAccount.userProfilePic : '/img/user-profile-icon-free-vector.jpg'}" alt="Profile Picture" class="profile-pic"/>

                    </a>
                    <div>
                        <a
                                th:href="@{'/user/' + ${comment.userAccount.nickname} + '/profile'}"
                                style="text-decoration: none; color: inherit"
                        >
                            <h5
                                    th:text="${comment.userAccount.nickname}"
                                    style="margin-bottom: 4px; font-size: 15px"
                            ></h5>
                            <h5
                                    th:text="${comment.userAccount.roles[0]}"
                                    style="margin: 0"
                            ></h5>

                        </a>
                    </div>
                </div>
                <h5
                        th:text="${comment.createdAt != null ? 'Comment created ' + comment.timeAgo : 'Creation date not available'}"
                >
                    Created at
                </h5>
                <p>
                    <span th:text="${comment.text}">Comment text</span>
                </p>
                <div class="commentPic"th:if="${comment.photoUrl != null}">
                    <img
                            th:src="@{${comment.photoUrl}}"
                            alt="Comment Photo"
                            style="max-width: 30%; height: auto"
                    />
                </div>
                <div class="comment-actions">
                    <form
                            th:action="@{'/comments/' + ${comment.id} + '/like'}"
                            method="post"
                            th:if="${userAccount != null}"
                    >
                        <button style="margin-bottom: 6px"
                                type="submit"
                                th:disabled="${comment.likes != null and comment.likes.contains(userAccount)}"
                        >
                            Like
                        </button>
                    </form>
                    <span style="color: white" th:text="${comment.likeCount}">0</span>

                    <form
                            th:action="@{'/comments/' + ${comment.id} + '/unlike'}"
                            method="post"
                            th:if="${comment.likes != null and comment.likes.contains(userAccount)}"
                    >
                        <button type="submit">Unlike</button>
                    </form>
                </div>
                <div th:if="${userAccount == null}">
                    <span>Likes: <span th:text="${comment.likeCount}">0</span></span>
                    <span
                    >Dislikes:
                <span style="color: white" th:text="${comment.dislikeCount}">0</span></span
                    >
                </div>

                <div th:if="${comment.userAccount.id == userAccountId}">
                    <form
                            th:action="@{'/posts/' + ${post.id} + '/comments/' + ${comment.id} + '/edit'}"
                            method="post"
                            enctype="multipart/form-data"
                    >
                <textarea
                        name="text"
                        th:placeholder="'Edit Your Comment'"
                        th:text="${comment.text}"
                ></textarea>
                        <input type="file" name="photo" accept="image/*" />
                        <button type="submit" class="buttonEditDelete" >Edit</button>
                    </form>
                    <form
                            th:action="@{'/posts/' + ${post.id} + '/comments/' + ${comment.id} + '/delete'}"
                            method="post"
                    >
                        <input type="hidden" value="delete" />
                        <button type="submit" class="buttonEditDelete">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="comment-form" th:if="${userAccount != null}">
            <form
                    th:action="@{'/posts/' + ${post.id} + '/comments'}"
                    method="post"
                    enctype="multipart/form-data"
            >
                <textarea name="text" placeholder="Add a comment"></textarea>
                <input type="file" name="photo" accept="image/*" />
                <button type="submit">Add Comment</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
