.container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 30;
}
.bodycontainerLogin {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 50;
    top: 80px;

}
form div {
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    color: #FF6F61;
}
.loginText{
    color: #FF6F61;
}

.bodycontainerLogin h1{
    text-align: center;
}
input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.container button {
    width: 100%;
    padding: 0.5rem;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container button:hover {
    background-color: #ea3b4b;
}
.error {
    color: red;
    margin-top: 1rem;
}
.links {
    text-align: center;
    margin-top: 1rem;
}
.links a {
    margin: 0 0.5rem;
    color: #FF6F61;
    text-decoration: none;
}
.links a:hover {
    box-shadow: #FF6F61;
}

.submitLoginButton{
 margin-left: 8px;

}